[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
click = "*"
icepack = "*"
pyyaml = "*"
webdav4 = "*"

[dev-packages]
bandit = "*"
pycodestyle = "*"
pytest = "*"
pytest-datadir = "*"
twine = "*"
build = "*"
