[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
"e1839a8" = {path = ".", editable = true}
bandit = "*"
click = "*"
pycodestyle = "*"
pytest = "*"
pytest-datadir = "*"
python-gnupg = "*"
pyyaml = "*"
twine = "*"

[dev-packages]

[requires]
python_version = "3.6"
